body{
    margin:0px;
    padding:0px;
}
.maincontainer{
    display: flex;
    justify-content: center;  
    align-items: center;
    max-width: 337px;
    max-height: 537px;
    margin: 10px;
    padding: 10px;
    
}
.form-box{
    margin: 10px;  
    max-height: fit-content;
    max-width: fit-content;
    background-color: grey;
}