html{
  font-size: 18px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
  color:rgb(31, 31, 39);
}
header{
  background-image: url(images/IMG_20210607_132948\ \(1\).jpg);
  background-repeat: no-repeat;
}
main,nav, footer{
  margin: 5px;
}
code{
  font-size: 0.8rem;
  font-weight: 800;
}
